body {
    background-color: blueviolet;
}

#firstImg {
    width: 1200px;
    height: 750px;
}

#thirdImg {
    width: 750px;
    height: 500px;
}

#fourthImg {
    width: 800px;
    height: 500px;
}

#fifthImg {
    width: 800px;
    height: 500px;
}