body {
    background-color:rgb(217, 179, 140)
}

#firstImg {
    width: 1000px;
    height: 750px;
}

#thirdImg {
    width: 750px;
    height: 500px;
}

#fourthImg {
    width: 800px;
    height: 500px;
}

#fifthImg {
    width: 800px;
    height: 500px;
}

#nav-bar {
    width: 100%;
    height: 100px;
    text-align: left;
    padding-bottom: 40px;
    position: fixed;
}

.nav-bar {
    list-style-type: none;
    font-size: 15pt;
    font-family: 'Joti One', cursive;
}

h1 {
    text-align: center;
    font-size: 45pt;
    font-family: 'Joti One', cursive;
}

h2 {
    font-family: 'Joti One', cursive;
    font-size: 25pt;
}